.ace {
  width: 50%;
  float: left;
  font-size: 1.5vw;
}

.ace1 {
  text-align: right;
}

.ace2 {
  text-align: left;
}

.ace3 {
  text-align: right;
}

#ve1, #ve2, #ve3 {
  font-family: Times New Roman, Times, serif;
  font-size: 2.5vw;
}

#imgg {
width : 50%;
float: right;
height: 36vw;
}

#ace11 {
  color: red;
}

#ace111 {
  font-size: 2.5vw;
  color : blue;
}
